<style>
  .btn-wrapper {
    margin-top: 1rem;
  }
</style>

<!-- prettier-ignore -->
{% extends 'layout.html' %} 
{% block content %}
<div>
  <h1>Status - {{room.name}}</h1>
  {% if status and message == "Room booked successfully!" %}
  <div class="info-wrapper">
    <p class="success">{{message}}</p>
  </div>
  <!-- prettier-ignore -->
  {% elif status and message == "You already booked the room!" %}
  <div class="info-wrapper">
    <p class="info">{{message}}</p>
  </div>
  {% else %}
  <div class="info-wrapper">
    <p class="info">{{message}}</p>
  </div>
  {% endif %}
  <div class="btn-wrapper">
    <a class="btn btn-md btn-secondary" href="{% url 'dashboard' %}"
      >Back to Dashboard</a
    >
  </div>
</div>
{% endblock content %}
