<style>
  form {
    margin-top: 1rem;
  }

  .btn-wrapper {
    margin-top: 0.75rem;
  }

  .btn-cancel {
    text-decoration: none;
    padding: 0.375rem 0.75rem;
    border-radius: 0.375rem;
    background-color: gainsboro;
    color: black;
    font-size: 0.75rem;
  }

  input[type="submit"] {
    padding: 0.375rem 0.75rem;
    border-radius: 0.375rem;
    background-color: yellow;
    color: black;
  }
</style>

<!-- prettier-ignore -->
{% extends 'layout.html' %} 
{% block content %}
<h1>Delete Room</h1>
<form method="POST" action="">
  {% csrf_token %}
  <p>Are you sure you want to delete {{room.name}}?</p>
  <div class="btn-wrapper">
    <a class="btn-cancel" href="{{request.META.HTTP_REFERER}}">Cancel</a>
    <input type="submit" value="Confirm" />
  </div>
</form>
{% endblock content %}
