<style>
  form {
    margin-top: 1rem;
  }

  .btn-wrapper {
    margin-top: 0.75rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
</style>

<!-- prettier-ignore -->
{% extends 'layout.html' %} 
{% block content %}
<h1>Delete Room</h1>
{% if error %}
<div class="info-wrapper">
  <p class="info">{{error}}</p>
</div>
{% else %}
<form method="POST" action="">
  {% csrf_token %}
  <p class="confirm-message">
    Are you sure you want to delete <span class="bold">{{room.name}}</span>?
  </p>
  <div class="btn-wrapper">
    <a class="btn btn-customize" href="{{request.META.HTTP_REFERER}}">Cancel</a>
    <input class="btn-secondary" type="submit" value="Confirm" />
  </div>
</form>
{% endif %} {% endblock content %}
