<!-- prettier-ignore -->
{% extends 'layout.html' %}
{% block content %}
<div class="home-wrapper">
  <h1>Room Slot Booking</h1>
  <p class="home-des">
    This is an room slot booking application built using Django and Django Rest
    Framework. This appication is built for FOSSEE 2022. Signup to Get started
    or Signin to continue.
  </p>
  <div class="starter">
    {% if request.user.is_authenticated and request.user.staff %}
    <a href="{% url 'dashboard' %}" class="btn-dashboard">Dashboard</a>
    <a href="{% url 'manage' %}" class="btn-manage">Manage</a>
    <a href="{% url 'signout' %}" class="btn-signout">Signout</a>
    {% elif request.user.is_authenticated and not request.user.staff %}
    <a href="{% url 'dashboard' %}" class="btn-dashboard">Dashboard</a>
    <a href="{% url 'signout' %}" class="btn-signout">Signout</a>
    {% else %}
    <a href="{% url 'signin' %}" class="btn-signin">Signin</a>
    <a href="{% url 'signup' %}" class="btn-signup">Signup</a>
    {% endif %}
  </div>
</div>
{% endblock content %}
