<style></style>
<!-- prettier-ignore -->
{% extends 'layout.html' %} 
{% block content %} 
{% if user.staff or user.admin %}
<div>
  <h1>Manager Page</h1>
  <p>This is the page for the Room Manager to add and view the booked rooms</p>
  <div class="btn-wrapper">
    <a href="{% url 'add-rooms' %}">Add Rooms</a>
    <a href="{% url 'bookings' %}">View Bookings</a>
    <a href="{% url 'view-rooms' %}">View Rooms</a>
  </div>
</div>
{% else %}
<h2>Access Denied!</h2>
{% endif %} {% endblock content %}
