<style>
  .des {
    margin-top: 1rem;
  }
</style>
<!-- prettier-ignore -->
{% extends 'layout.html' %} 
{% block content %} 
{% if user.staff or user.admin %}
<div>
  <h1>Room Manager Page</h1>
  <p class="des">
    This is the page for the Room Manager to add and view the booked rooms.
  </p>
  <div class="btn-wrapper">
    <a class="btn btn-lg btn-primary" href="{% url 'add-rooms' %}">Add Rooms</a>
    <a class="btn btn-lg btn-secondary ml-md" href="{% url 'bookings' %}"
      >View Bookings</a
    >
    <div class="btn-second-row">
      <a class="btn btn-lg btn-tertiary" href="{% url 'view-rooms' %}"
        >View Rooms</a
      >
    </div>
  </div>
</div>
{% else %}
<h2>Access Denied!</h2>
{% endif %} {% endblock content %}
