<style>
  .table-wrapper {
    overflow-x: auto;
    margin: 1rem auto;
    max-width: 100%;
  }

  table {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }

  th,
  td {
    border: 1px solid #ddd;
    padding: 0.5rem;
  }
</style>

<!-- prettier-ignore -->
{% extends 'layout.html' %} 
{% block content %}
<div class="bookings-wrapper">
  <h1>Your Bookings</h1>
  {% if not bookings %}
  <div class="info-wrapper">
    <p class="info">No bookings found!</p>
  </div>
  {% else %}
  <div class="table-wrapper">
    <table>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Checkin Time</th>
        <th>Checkout Time</th>
        <th>Actions</th>
      </tr>
      {% for booking in bookings %}

      <tr>
        <td>{{booking.room.name}}</td>
        <td>{{booking.room.date}}</td>
        <td>{{booking.room.defined_check_in_time}}</td>
        <td>{{booking.room.defined_check_out_time}}</td>
        <td>
          <a
            class="btn btn-md btn-secondary"
            href="{% url 'cancel-room' booking.room.id %}"
          >
            Cancel
          </a>
        </td>
      </tr>

      {% endfor%}
    </table>
  </div>
  {% endif %}
</div>
{% endblock content %}
