<style>
  h1 {
    margin-bottom: 1rem;
  }

  .total-rooms {
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid gainsboro;
  }

  .room-wrapper {
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid gainsboro;
  }

  .room-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .room-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
  }

  .advance {
    color: gray;
    font-size: 0.875rem;
  }
</style>
<!-- prettier-ignore -->
{% extends 'layout.html' %} 
{% block content %} 
{% if user.staff or user.admin %}
<div class="rooms-wrapper">
  <h1>View Rooms</h1>
  {% if not rooms %}
  <div class="info-wrapper">
    <p class="info">No rooms found!</p>
  </div>
  {% else %}
  <div class="total-rooms">
    <h3>Total Rooms - {{total_rooms}}</h3>
  </div>
  {% for room in rooms %}
  <div class="room-wrapper">
    <div class="room-header">
      <span><h2>{{room.name}}</h2></span>
      <span class="bold">{{room.date}}</span>
    </div>
    <div class="room-body">
      <div>
        <div>
          <span class="time-slot">Time slot: </span>
          <span>{{room.defined_check_in_time}}</span>
          <span>-</span>
          <span>{{room.defined_check_out_time}}</span>
        </div>
        <div>
          <p class="advance">
            {{room.advance_booking}} days to book in advance
          </p>
        </div>
      </div>
      <div>
        <a
          class="btn btn-secondary btn-md"
          href="{% url 'delete-room' room.id %}"
          >Delete Room</a
        >
      </div>
    </div>
  </div>
  {% endfor %} {% endif %}
</div>
{% else %}
<h2>Access Denied!</h2>
{% endif %} {% endblock content %}
