<style>
  h1 {
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .room-wrapper {
    max-width: 400px;
  }

  .room-wrapper {
    margin-bottom: 1rem;
  }

  .room-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .room-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;
  }

  .time-slot {
    font-weight: bold;
  }

  .btn-delete-room {
    text-decoration: none;
    padding: 0.375rem 0.75rem;
    border-radius: 0.375rem;
    background-color: #ffbb33;
    color: white;
  }
</style>
<!-- prettier-ignore -->
{% extends 'layout.html' %} 
{% block content %} 
{% if user.staff or user.admin %}
<div class="rooms-wrapper">
  <h1>View Your Rooms</h1>
  {% if not rooms %}
  <p>No rooms found!</p>
  {% else %} {% for room in rooms %}
  <div class="room-wrapper">
    <div class="room-header">
      <span><h2>{{room.name}}</h2></span>
      <span>{{room.date}}</span>
    </div>
    <div class="room-body">
      <div>
        <span class="time-slot">Time slot: </span>
        <span>{{room.defined_check_in_time}}</span>
        <span>-</span>
        <span>{{room.defined_check_out_time}}</span>
      </div>
      <div>
        <a class="btn-delete-room" href="{% url 'delete-room' room.id %}"
          >Delete Room</a
        >
      </div>
    </div>
  </div>
  {% endfor %} {% endif %}
</div>
{% else %}
<h2>Access Denied!</h2>
{% endif %} {% endblock content %}
